
/*
 current theme color names
 accent, text, backg, secondtext, secondbackg, selection
 */

html, footer, header {
    display: block;
}

body {
    display: block;
    font-size: medium;
}

div {
    display: block;
}

p {
    display: block;
    margin: 0.2em 0px;
    text-indent: 1em;
    text-align: inherit;
}

li {
	display: list-item;
}

ul {
	display: block;
	list-style-type: disc;
	margin: 0.2em 0px;
	padding-left: 20px;
}

ol {
	display: block;
	list-style-type: decimal;
	margin: 0.2em 0em;
    padding-left: 20px;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

strike {
    text-decoration: line-through;
}

u {
	text-decoration: underline;
}

blockquote {
    display: block;
    font-size: 0.9em;
    margin: 0.5em 0px;
    padding: 0px 10px;
    border-left: 5px solid selection;
}

header p {
    margin: 0px;
    text-indent: 0px;
    text-align: inherit;
}

footer p {
    margin: 0px;
    text-indent: 0px;
    text-align: inherit;
}

h1 {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0px 1em 0px;
}

h2 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0px 1em 0px;
}

h3 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0px 1em 0px;
}

h4 {
    display: block;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0px 1em 0px;
}

h5 {
    display: block;
    font-size: .85em;
    font-weight: bold;
    text-align: center;
    margin: 1em 0px;
}

h6 {
    display: block;
    font-size: .7em;
    font-weight: bold;
    text-align: center;
    margin: 1em 0px;
}

table {
    display: table;
    margin: 1em 0px;
    font-size: 0.8em;
    font-family: monospace;
    border-spacing: 1px;
}

tr {
    display: table-row;
}

tr:nth-child(odd) {
    background-color: secondbackg;
}

td {
    display: table-cell;
}

th {
    display: table-cell;
    font-weight: bold;
    text-align: center;
}

td {
    display: table-cell;
}

img {
    text-align: inherit;
    display: inline;
}

img.center {
    display: block;
    text-align: center;
    text-indent: 0px;
    margin: 1em;
}

audio {
    display: block;
    margin: 1em;
}

a {
    color: accent;
    text-decoration: underline;
}

a.note {
    font-size: 1.1em;
    color: accent;
    text-decoration: none;
}

code {
    font-size: 0.8em;
    font-family: monospace;
    white-space: pre;
    text-align: left;
}

header blockquote {
    font-size: 0.9em;
    font-style: italic;
    margin: 1em;
    text-align: right;
}

.poem {
    margin: 1em 0px;
}

.stanza {
    margin: 1em 0px;
}

.stanza p {
    margin: 0px 4em;
    text-indent: 0px;
}

.poemrow {
    margin: 0px 1em;
}

.emptyline {
    margin: 0px;
    height: 1em;
}

.center {
    text-align: center;
}

.annotation {
    font-size: 0.9em;
    margin: 1em 0px;
}

.epigraph {
    font-size: 0.9em;
    font-style: italic;
    margin: 2em;
    text-align: right;
}

.epigraph .author {
    font-style: normal;
}

.titlepage img {
    margin: 2em 0px 2em 0px;
}

.titlepage .bookname {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 1em 0px;
}

.titlepage .sequence {

    font-size: 1em;
    text-align: center;
    margin: 1em 0px;
}

.titlepage .author {

    font-size: 1.2em;
    text-align: center;
    margin: 1em 0px;
}

.titlepage .publisher {

    font-size: 1.0em;
    text-align: center;
    margin: 1em 1px;
}

body.notes {
    font-size: 0.9em;
}

body.notes header {
    font-size: 1.1em;
    font-weight: bold;
}

body.notes p {
    margin: 0px;
    text-indent: 0px;
    text-align: inherit;
}

body.notes blockquote {
    margin: 0.2em 5px;
}
