---
layout: kybook-ru
title: KyBook - Помощь
---

<div class="jumbotron">
  <h1>Помощь</h1>
  <p class="lead">Пожалуйста, прочтите FAQ прежде чем сообщить о проблеме</p> 
  <p><a href="mailto:info@kolyvan.com" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Написать нам</a></p>    
</div>

<div class="page-header">

  <h3>FAQ</h3>

  <div class="col-lg-6">  
  
  {% for post in site.categories.faq %}  
  {% if post.categories contains 'ru' %}
    <h4>{{ post.title }}</h4>
    <p> <a href="{{ post.url }}">{{ post.preview }}</a> </p>    
  {% endif %}    
  {% endfor %}
    
  </div>

</div>



<h3>Сообщить о проблеме</h3>

<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://kybook-reader.com{{page.url}}";
</script>

<div id="disqus_thread">
</div>

<script type="text/javascript" src="http://disqus.com/forums/kolyvan/embed.js">
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
